{% extends "base.html" %}
{% load static %}

{% block page_content %}
<br>
<h1>My Coding Story</h1>
<br>
<p>
    My coding journey began in elementary school, with an obscure gaming language called Darkbasic. 
    <br><br>
    From there I graduated up to Visual Studio, which I used throughout middle school to make more games.
    <br>
    Along with Visual Studio I started using Cheat Engine and Packet Sniffers to hack online games that I was into at the time.
    <br>
    Around 10th grade I began a years long realtionship with a local insurance company making interactive Adobe Flash animations, which I powered with the Flash scripting language Actionscript.
    <br><br>
    When I graduated High School I began attending UCLA for Mechanical Engineering, where my relationship with iOS development began.
    <br>
    Being that it was 2011, and the iOS app strore was very young, my first game "Rainbow Run" was able to surpass 100,000 downloads in the first year and was downloaded in over 50 countries worldwide.
    <br>
    In the summer of my 2nd year of college, I started an iOS development group called "Seafoam Dev" and led a team of 4 through the process of creating, launching, and promoting another game called "Fire In The Hole".
    <br><br>
    After realizing I was passionate about music, I decided to transfer to Berklee College of Music in Boston. As part of my application I coded an Ear Training Musical Development iOS App that was widely praised by upper members of the admissions division.
    <br>
    I moved to LA after graduating college, and founded an SAT Prep company to fund my dreams. After 4 years of running that company, and balancing those responsibilities with my pursuit of musical recognition, Covid hit.
    <br>
    When Covid began, a CA court ordered that the SAT would no longer be accepted by the UC system as a standard of admission. 
    <br>
    It seemed that standardized tests were widely beginning to be considered culturally biased, and may begin to fade out of relevence.
    <br><br>
    At the same time, I was beginning to become engrossed in the mind-blowing progress that OpenAi and otheres were making in Artificial Intelligence and Machine Learning.
    <br>
    Eventually my excitement for the field grew, and I decided I would utilize my backhground with coding and computers to pursue a life in the unbelievably mind-blowingly exciting realm Artificial Intelligence & Machine Learning.
    <br>
    I took a Google Course in Python, joined Kaggle, began researching grad schools, and am now happily almost a year into my transition.
    <br>
    Along with this website(which is coded in Python), my latest project is a Music genre classifier, built entiredly with Keras and Tensorflow. I am looking for a Machine Learning Internship to further my skills.
    <br><br>
    I plan to attend Georgie Tech's Computer Science / Machine Learning Masters program in the Spring of 2022.




</p>

{% endblock %}